*{
    background-color: #FFFFFF;
    font-family: sans-serif;
}
.searchicon {
    width: 1%;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.ul-prop {
    display:flex;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
    position:absolute;
    background-color: transparent;
}

.title-prop {
    display:flex;
    justify-content: center;
}

.form-prop {
    display:flex;
    justify-content: flex-end;
    max-width: 250px;
}

.clothes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto;
    padding: 10px 0;
    
}

.margin-img {
    margin-top: 30px;
    margin-left: 30px;
}

.img-text {
    text-align: center;
    font-size: 16px;
}

.img-price {
    font-weight: bold;
}


