*{
    background-color: #FFFFFF;
}
.searchicon {
    width: 1%;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
}

ul {
    list-style-type: none;
}

.clothes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 0;
    
}



